.signUp {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.signUpTable {
    position: absolute;
    top: 48%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    margin: 0 auto;

    thead {
        width: 100%;
        height: 50px;
        text-align: center;

        .headline {
           padding-bottom: 20px;
        }
    }

    tbody tr td {
        input {
        width: 100%;
        height: 50px;
        margin: 6px 0;
        padding: 8px;
        border: 1px solid #e3e3e3;
        }

        input::placeholder {
            color: #A4A4A4;
        }

        button {
            width: 100%;
            height: 40px;
            margin: 6px 0;
            font-weight: bolder;
            color: #FEFFDE;
            background-color: #2E9AFE;
            border-radius: 8px;
            border: none;
        }

        ol {
            display: flex;
            float: right;
            margin: 4px 0;
            height: 1rem;
            li:first-child {
                padding-right: 4px;
                border-right: #52734da5 solid 1px;
            }
            li {
                margin-right: 4px;
                line-height: 0.8rem;
                a {
                    vertical-align: text-bottom;
                    color: #585858;
                    font-size: 0.8rem;
                    font-weight: 600;
                }
            }
        }
    }

    .invalid {
        border: 2px solid red;
    }

    .error {
        color: red;
        font-size: 14px;
        margin-top: 5px;
    }
}

.termTable {
    font-size: 13px;
    border: 1px solid #E6E6E6;
    color: #6E6E6E;
    padding: 5px 10px 10px 10px;
    display: flex;
    flex-direction: column;

    .termHeader {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 30px;
    }

    .termBody {
        width: 100%;
    }

    .line {
        height: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .checkboxLabel {
        padding: 10px;
        width: 100%;
    }

    .checkBox {
        width: 15px; /* 원하는 너비 설정 */
        height: 15px; /* 원하는 높이 설정 */
    }
}

.col-20 {
    width: 20%;
}

.col-80 {
    width: 200px;
}